<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--  property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property-->
		<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<!-- was org.gjt.mm.mysql.Driver -->
		<property name="hibernate.connection.password">reposReportAdmin</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/reposReport</property>
		<property name="hibernate.connection.username">reposReportAdmin</property>
		<property name="hibernate.default_schema">reposReport</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<!--  mapping resource="/BioreposReport/src/domain/CollectionProtocol.hbm.xml"  />
		<mapping resource="/BioreposReport/src/domain/NumberShipped.hbm.xml" />
		<mapping resource="/BioreposReport/src/domain/Reportingperiod.hbm.xml" />
		<mapping resource="/BioreposReport/src/domain/SpecimenInventory.hbm.xml" /-->

	</session-factory>
</hibernate-configuration>
